nav {
  background-color: var(--theme-purple);
  overflow: hidden;
  position: fixed; /* Fix the MenuBar at the top */
  top: 0;
  width: 100%; /* Ensure it spans the full width */
  z-index: 1000; /* Ensure it stays on top of other content */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  padding: 14px 20px;
}

nav ul a {
  color: var(--theme-white);
  text-align: center;
  text-decoration: none;
}

nav ul a:hover {
  color: black;
  background-color: var(--theme-dark-purple);
}

.active {
  font-weight: bold;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  background-color: var(--theme-dark-purple);
}

/* Toggle button for small screens */
.menu-toggle {
  display: none;
  background-color: var(--theme-purple);
  color: var(--theme-white);
  border: none;
  padding: 14px 20px;
  cursor: pointer;
  font-size: 18px;
}

/* Media Queries */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items */
    display: none; /* Hide the menu items by default */
  }

  nav ul.show {
    display: flex; /* Show the menu items when toggled */
  }

  .menu-toggle {
    display: block; /* Show the toggle button */
  }

  nav ul li {
    padding: 10px 0; /* Reduce padding */
  }

  nav {
    padding: 10px 0; /* Add padding to the nav */
  }
}
